.button {


    /* background-color: #000000; */
    border: none;
    padding: 12px;
    border-radius: 4px;
    color: #000000;
    width: 100px;
    border: solid 1px #000000;
    transition: 0.2s ease-in-out;

}

.button:hover {
    background-color: #000000;
    /* border: none; */
    color: #ffffff;
    cursor: pointer;
}